.quota {
  padding: 1rem 1rem;
}

.box {
  padding: 5rem 1rem;
}

.mate-container {
  padding: 6rem 1rem;
}

.author, .card, .about, .box, .process-item .card__img::after, .process-item .card__img {
  display: flex;
}

.box, .process-item .card__img::after, .process-item .card__img, .about {
  align-items: center;
  justify-content: center;
}

.about {
  flex-direction: column;
}
@media (min-width:600px) {
  .about {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.mate-container .container, .box-container, .spec-container, .process-container, .info-container, .award-container {
  display: grid;
  gap: 3rem;
}
@media (min-width:600px) {
  .mate-container .container, .box-container, .spec-container, .process-container, .info-container, .award-container {
    gap: 2rem;
  }
}
@media (min-width:768px) {
  .mate-container .container, .box-container, .spec-container, .process-container, .info-container, .award-container {
    gap: 1.5rem;
  }
}

@media (min-width:600px) {
  .info-container, .award-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media (min-width:600px) {
  .mate-container .container, .box-container, .spec-container, .process-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width:768px) {
  .mate-container .container, .box-container, .spec-container, .process-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about__content, .card, .title {
  text-align: center;
}

.process-item .card__img::after {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.process-item .card__img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.figma .range__skill::after, .javascript .range__skill::after, .html .range__skill::after, .ux .range__skill::after, .design .range__skill::after, .process-item .card__img:hover, .process-item .card__img::after {
  background: #FFBC00;
  color: #333333;
}

.process-item .card__img:hover::after, .process-item .card__img {
  background: #333333;
  color: #fff;
}

.mate-container, .about__content, .box-container .box:nth-child(odd), .figma .range__skill, .javascript .range__skill, .html .range__skill, .ux .range__skill, .design .range__skill {
  background: #F4F4F4;
  color: #333333;
}

.box-container .box:nth-child(even) {
  background: #CCCCCC;
  color: #333333;
}

.spec-item .card__img, .award-item .card__img {
  color: #FFBC00;
}

.spec-item .card__img, .info-item .card__img {
  font-size: 3rem;
}

.box .card__img, .award-item .card__img, .process-item .card__img {
  font-size: 5rem;
}

.process-item .card__img {
  position: relative;
  transition: all 1s;
}
.process-item .card__img::after {
  content: attr(data-process);
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: -1rem;
  font-family: "Times New Roman", Times, serif;
}
.process-item .card__img:hover {
  transform: scale(1.05);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 4.77rem;
}

h2 {
  font-size: 3.98rem;
}

h3 {
  font-size: 2.7rem;
}

p {
  font-weight: 300;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.title__heading {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.title__line {
  width: 50px;
  height: 2px;
  margin: 0 auto 2rem;
  border-radius: 5px;
  background: #FFBC00;
  color: #333333;
}
.title__lead {
  font-size: 1.9rem;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card__heading {
  text-transform: uppercase;
  font-size: 2.6rem;
}

.card-container {
  margin: 5rem 0;
}

.info-item .card__img {
  margin-bottom: 1rem;
}
.info-item .card__desc {
  font-size: 1.7rem;
  font-weight: 600;
}

.award-item .card__img {
  margin-bottom: 1.1rem;
}
.award-item .card__heading {
  margin-bottom: 0.8rem;
}

.spec-item .card__img {
  margin-bottom: 0.5rem;
}
.spec-item .card__heading {
  margin-bottom: 0.8rem;
}

.process-item .card__img {
  margin-bottom: 3rem;
}
.process-item .card__heading {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}
@media (min-width:768px) {
  .process-item {
    min-height: 370px;
    justify-content: space-between;
  }
  .process-item .card__desc {
    margin-top: -0.8rem;
  }
}
@media (min-width: 1095px) {
  .process-item {
    min-height: 0;
  }
  .process-item .card__desc {
    margin-top: 0;
  }
}

.box .card__img {
  margin-bottom: -0.5rem;
}
.box .card__desc {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.box .card__heading {
  font-weight: 500;
  font-size: 4rem;
}

.range {
  margin-bottom: 2rem;
}
.range__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.3rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.design .range__skill {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.design .range__skill::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 90%;
}

.ux .range__skill {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.ux .range__skill::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 85%;
}

.html .range__skill {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.html .range__skill::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.javascript .range__skill {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.javascript .range__skill::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 70%;
}

.figma .range__skill {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.figma .range__skill::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 95%;
}

.mate-item {
  filter: invert(100%);
  justify-self: center;
}

.quota {
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}

.author {
  align-items: center;
}
.author__img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-right: 1.5rem;
}
.author__name {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
}

.box-container {
  gap: 0;
}
.about__content {
  padding: 3rem 2rem 6rem;
  margin-top: 1.5rem;
  border-top: 5px solid #FFBC00;
}
.about__heading {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}
@media (min-width:600px) {
  .about__img {
    width: 49%;
    align-self: stretch;
  }
  .about__content {
    align-self: stretch;
    flex-basis: 50%;
    border-top: none;
    border-left: 5px solid #FFBC00;
    margin-top: 0;
    margin-left: 2rem;
    padding: 3rem 2rem;
  }
}
@media (min-width:900px) {
  .about {
    justify-content: center;
  }
  .about__img {
    width: 40%;
  }
  .about__content {
    flex-basis: 59%;
  }
}