.card {
  display: flex;
}

.info-container {
  display: grid;
  gap: 3rem;
}
@media (min-width:600px) {
  .info-container {
    gap: 1rem;
  }
}

@media (min-width:600px) {
  .info-container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.card {
  text-align: center;
}

.info-item .card__img {
  font-size: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 4.77rem;
}

h2 {
  font-size: 3.98rem;
}

h3 {
  font-size: 2.7rem;
}

p {
  font-weight: 300;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card__heading {
  text-transform: uppercase;
  font-size: 2.6rem;
}

.info-item .card__img {
  margin-bottom: 1rem;
}
.info-item .card__desc {
  font-size: 1.7rem;
  font-weight: 600;
}