.icon::after, .icon {
  display: flex;
}

.icon::after, .icon {
  align-items: center;
  justify-content: center;
}

.icon::after {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.icon:hover, .icon::after {
  background: #FFBC00;
  color: #333333;
}

.icon:hover::after, .icon {
  background: #333333;
  color: #fff;
}

.icon::after {
  font-size: 4rem;
}

.icon {
  font-size: 6rem;
}

.icon {
  position: relative;
  transition: all 1s;
}
.icon::after {
  content: attr(data-process);
  position: absolute;
  top: 1rem;
  right: -1rem;
  font-family: "Times New Roman", Times, serif;
}
.icon:hover {
  transform: scale(1.05);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 4.77rem;
}

h2 {
  font-size: 3.98rem;
}

h3 {
  font-size: 3.31rem;
}

p {
  font-weight: 300;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}