// card
.card{
	@extend %text-center;
	@extend %flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	&__img{
		margin-bottom: 1.8rem;
	}

	&__heading{
		text-transform: uppercase;
		font-size: 2.6rem;
		margin-bottom: .5rem;
	}
}