// title
.title{
	@extend %text-center;

	&__heading{
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 1.5rem;
	}
	&__line{
		width: 50px;
		height: 2px;
		margin: 0 auto 2rem;
		border-radius: 5px;
		@include backgroundColor($primary);	
	}
	 &__lead{
		font-size: 1.9rem
	}
}

// card
.card{
	@extend %text-center;
	@extend %flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
		
	&__heading{
		text-transform: uppercase;
		font-size: 2.6rem;
	}
}

.card-container{
	margin: 5rem 0;
}

// info item
.info-item{
	.card__img{
		@extend %icon-middle;
		margin-bottom: 1rem;
	}
	.card__desc{
		font-size: 1.7rem;
		font-weight: 600;
	}
}

// award item
.award-item{
	.card__img{
		@extend %icon-big;
		@extend %icon-primary;
		margin-bottom: 1.1rem;
	}
	.card__heading{
		margin-bottom: .8rem;
	}
}

// spec item
.spec-item{
	.card__img{
		@extend %icon-middle;
		@extend %icon-primary;
		margin-bottom: .5rem;
	}
	.card__heading{
		margin-bottom: .8rem;
	}
}

// process item
.process-item{
	.card__img{
		@extend %icon-process;
		margin-bottom: 3rem;
	}
	.card__heading{
		font-size: 2.5rem;
		margin-bottom: .8rem;
	}
	

	@include media768{
		min-height: 370px;
		justify-content: space-between;

		.card__desc{
			margin-top: -.8rem;
		}
	}

	@media (min-width:1095px) {
		min-height: 0;

		.card__desc{
			margin-top: 0;
		}
	}
}

// box
.box{
	@extend %flex-center;
	@extend %p5;

	.card__img{
		@extend %icon-big;
		margin-bottom: -0.5rem;
	}
	.card__desc{
		font-size: 3rem;
		text-transform: capitalize;
		margin-bottom: 2rem;
	}
	.card__heading{
		font-weight: 500;
		font-size: 4rem;
	}
}

//range item
.range{
	margin-bottom: 2rem;
	&__name{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 2.3rem;
		margin-left: .5rem;
		margin-bottom: .5rem;
	}
}
.design{
	.range__skill{
		@include range (90%);
	}
}
.ux{
	.range__skill{
		@include range (85%);
	}
}
.html{
	.range__skill{
		@include range (100%);
	}
}
.javascript{
	.range__skill{
		@include range (70%);
	}
}
.figma{
	.range__skill{
		@include range (95%);
	}
}

// mate
.mate-item{
	filter: invert(100%);
	justify-self: center;
}