//  color
@mixin backgroundColor ($color){
	background: $color;
	@if ($color == $dark ){
		color: $white;
	}@else{
		color: $dark;
	}
}

// pseudo element
@mixin range($width){
	&{
		width: 100%;
		height: 20px;
		border-radius: 10px;
		position: relative;
		@extend %background-light;

		&::after{
			content: '';
			position: absolute;
			border-radius: 10px;
			height: 100%;
			width: $width;
			@extend %background-primary;
		}
	}
}

// media query 600
@mixin media600 {
	@media ($media-600) { @content; }
}

// media query 768
@mixin media768 {
	@media ($media-768) { @content; }
}

// media query 900
@mixin media900 {
	@media ($media-900) { @content; }
}

// padding
%p1{
	padding: 1rem 1rem;
}
%p2{
	padding: 2rem 1rem;
}
%p3{
	padding: 3rem 1rem;
}
%p4{
	padding: 4rem 1rem;
}
%p5{
	padding: 5rem 1rem;
}
%p6{
	padding: 6rem 1rem;
}
%p7{
	padding: 7rem 1rem;
}

//flex
%flex{
	display: flex;
}

%flex-center{
	@extend %flex;
	align-items: center;
	justify-content: center;
}

%flex-between{
	@extend %flex;
	@extend %flex-center;
	flex-direction: column;

	@include media600{
		flex-direction: row;
		justify-content: space-between;
	}
}

%flex-start{
	@extend %flex;
	@extend %flex-center;
	flex-direction: column;

	@include media600{
		flex-direction: row;
		justify-content: flex-start;
	}
}

// grid
%grid{
	display: grid;
	gap: 3rem;

	@include media600{
		gap: 2rem;
	}

	@include media768{
		gap: 1.5rem;
	}
}

%grid-2{
	@extend %grid;
	@include media600{
		grid-template-columns: repeat(2, 1fr);
		align-items: center
	}
}

%grid-3{
	@extend %grid;
	@include media600{
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
	}
}

%grid-4{
	@extend %grid;
	@include media600{
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	@include media768{
		grid-template-columns: repeat(4, 1fr);
	}
}

// text center
%text-center{
	text-align: center;
}

// circle
%circle-small{
	width: 40px;
	height: 40px;
	border-radius: $borderRadius;
}
%circle-middle{
	width: 80px;
	height: 80px;
	border-radius: $borderRadius;
}
%circle-big{
	width: 120px;
	height: 120px;
	border-radius: $borderRadius;
}

// background
%background-primary{
	@include backgroundColor(($primary));
}
%background-dark{
	@include backgroundColor(($dark));
}
%background-light{
	@include backgroundColor(($light));
}
%background-darklight{
	@include backgroundColor(($darkLight));
}

// icon
%icon-primary{
	color: $primary;
}
%icon-dark{
	color: $dark;
}
%icon-white{
	color: $white;
}

%icon-small{
	font-size: 2rem;
}
%icon-middle{
	font-size: 3rem;
}
%icon-big{
	font-size: 5rem;
}

%icon-social{
	@extend %icon-white;
	@extend %icon-small;
	@extend %flex-center;
	@extend %circle-small;
	border: 2px solid;
	cursor: pointer;
	&:hover{
		@extend %background-primary;
	}
}

%icon-process{
	@extend %icon-big;
	@extend %flex-center;
	@extend%circle-big;
	@extend %background-dark;
	position: relative;
	transition: all 1s;

	&::after{
		content: attr(data-process);
		@extend %flex-center;
		@extend %circle-small;
		@extend %background-primary;
		font-size: 3rem;
		position: absolute;
		top: 1rem;
		right: -1rem;
		font-family:'Times New Roman', Times, serif;
	}

	&:hover{
		@extend %background-primary;
		transform: scale(1.05);
	}

	&:hover::after{
		@extend %background-dark;
	}
}