// info award
.info-container, .award-container{
	@extend %grid-3;
}

// spec proces
.spec-container, .process-container{
	@extend %grid-4;
}

// box
.box-container{
	@extend %grid-4;
	gap: 0;

	.box:nth-child(odd){
		@extend %background-light;
	}
	.box:nth-child(even){
		@extend %background-darklight;
	}
}

// about
.about{
	@extend %flex-start;

	&__content{
		@extend %background-light;
		@extend %text-center;
		padding: 3rem 2rem 6rem;
		margin-top: 1.5rem;
		border-top: 5px solid $primary;
	}

	&__heading{
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-size: 2.5rem;
	}

	@include media600{

		&__img{
			width: 49%;
			align-self: stretch;
		}

		&__content{
			align-self: stretch;
			flex-basis: 50%;
			border-top: none;
			border-left: 5px solid $primary;
			margin-top: 0;
			margin-left: 2rem;
			padding: 3rem 2rem;
		}

	}

	@include media900{
		justify-content: center;
		&__img{
			width: 40%;
		}
		&__content{
			flex-basis: 59%;
		}
	}
}

//mate
.mate-container{
	@extend %p6;
	@extend %background-light;

	.container{
		@extend %grid-4;
	}
}


// testimonial
.testimonial-container{
	@extend %grid-4;
}

// work
.work-container{
	@extend %grid-3;
	gap: 0;
}

// form
.form{
	@extend %grid-2;
	gap: 1rem .5rem;

	textarea{
		@include media600{
			grid-column: 1/3;
		}
	}

	.btn{
		@extend %background-dark;
		@include media600{
			grid-column: 1/3;
		}
	}
}

// cta
.cta{
	@include backgroundColor($primary);
	@extend %text-center;
	@extend %p6;
	
	h2{
		font-size: 5rem;
		text-transform: capitalize;
		color: $white;

		@include media600{
			font-size: 5.5rem;
		}
	}
}

// footer
.footer{
	@extend %background-dark;
	@extend %p2;

	.container{
		@extend %flex-between;
		gap: 2rem;
	}
	.social{
		@extend %flex;
		gap: 1rem;
	}
	.icon{
		@extend %icon-social;
	}
}

// navbar
.navbar{
	background: $background url('../img/showcase.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20% 30%;
	@extend %p2;
	width: 100%;
	border-bottom: 3px solid $primary;

	.container{
		@extend %flex-between;
	}
	.logo__img{
		width: 7rem;
	}
	.menu{
		@extend %flex;
		gap: 3rem;
	}

	.menu__link{
		display: inline-block;
		text-transform: uppercase;
		font-size: 1.8rem;
		font-weight: 500;
		padding: 1.3rem 0;
		color: $white;

		&:hover{
			border-bottom: 2px solid $white;
		}
	}
}

// contact
.contact__form{
	@extend %p7;
}
.contact__info{
	@extend %background-dark;
	@extend %p5;

	a{
		color: $white;
	}
}


// workpage
.workpage{
	.main {
		@extend %p7;
	}
}